vendor
.DS_Store
**/dist/
**/node_modules/
*npm-debug.log
docs/PRIVATE-NOTES.md
local.env
recreate-triggers.cmd

/openchecks-front/nbproject/private/
/actions/nbproject/private/
/actions/*.cmd
/actions/*.log